@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cascadia Mono PL";
  src: url("/fonts/CascadiaMonoPL.ttf") format("truetype");
}

@layer components {
  .scores-button {
    z-index: 20;
  }
  .scores {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }

  .scores::before {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    background-color: var(--main-color);
  }

  .scores:hover::before {
    animation: rotate 3s linear infinite;
  }

  .scores:hover {
    box-shadow: 1px 1px 6px 6px #76689a1c;
  }

  @keyframes rotate {
    0% {
      background: conic-gradient(
        var(--main-color),
        var(--main-color),
        var(--main-gradient-1),
        var(--main-color),
        var(--main-color),
        var(--main-gradient-1),
        var(--main-color)
      );
      transform: rotate(0deg);
    }
    25% {
      background: conic-gradient(
        var(--main-color),
        var(--main-color),
        var(--main-gradient-2),
        var(--main-color),
        var(--main-color),
        var(--main-gradient-2),
        var(--main-color)
      );
      transform: rotate(87.5deg); /* 25% of 350deg */
    }
    50% {
      background: conic-gradient(
        var(--main-color),
        var(--main-color),
        var(--main-gradient-3),
        var(--main-color),
        var(--main-color),
        var(--main-gradient-3),
        var(--main-color)
      );
      transform: rotate(175deg); /* 50% of 350deg */
    }
    75% {
      background: conic-gradient(
        var(--main-color),
        var(--main-color),
        var(--main-gradient-2),
        var(--main-color),
        var(--main-color),
        var(--main-gradient-2),
        var(--main-color)
      );
      transform: rotate(262.5deg); /* 75% of 350deg */
    }
    100% {
      background: conic-gradient(
        var(--main-color),
        var(--main-color),
        var(--main-gradient-1),
        var(--main-color),
        var(--main-color),
        var(--main-gradient-1),
        var(--main-color)
      );
      transform: rotate(350deg);
    }
  }

  .caret,
  .reverse {
    position: relative;
  }

  .caret::after {
    position: absolute;
    content: "";
    border-right: var(--text-color) 2px solid;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    animation: blink 1s infinite;
    z-index: 1;
  }

  .reverse::before {
    position: absolute;
    content: "";
    border-right: var(--text-color) 2px solid;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    animation: blink 1s infinite;
    z-index: 1;
  }

  @keyframes blink {
    0% {
      height: 17px;
      opacity: 100%;
    }
    25% {
      height: 17px;
      opacity: 100%;
    }
    50% {
      height: 17px;
      opacity: 90%;
    }
    75% {
      height: 2px;
      opacity: 50%;
    }
    100% {
      height: 17px;
      opacity: 90%;
    }
  }
}
